body {
	background-color:#3a6fa5;
}
h1 {
	text-align:center;
	font-family:"Consolas";
	font-size:40px;
}
h2 {
	text-align:center;
	font-family:"Consolas";
	font-size:30px;
}
div {
	margin-right:50px;
	margin-left:50px;
	padding:25px;
	background-color:#FFFFFF;
	background-color:rgba(255,255,255,0.5);
}
p {
	font-family:"Consolas";
	font-size:16px;
}
p.center {
	text-align:center;
}
a:link {
	text-decoration:none;
	color:#123456;
}
a:visited {
	text-decoration:none;
	color:#234567;
}
a:hover {
	text-decoration:underline;
	color:#abcdef;
}
a:active {
	text-decoration:underline;
	color:#ff6030;
}